extends ../../../templates/post/template.pug

include ../../../components/mixin-head/component.pug
include ../../../components/mixin-header/component.pug

block site-head
  -var title = 'scripts目录'
  -var desc = 'Djax: DOM & AJAX，简单、自由的前端开发套件'
  +mixinHead(title, desc)
  link(rel="stylesheet", href="./page.min.css")

block site-header
  +mixinHeader('scripts')

block site-foot
  script(src="./page.min.js")

block site-content
  .page-hooks
    fieldset.layui-elem-field.layui-field-title
      legend 我们对src/scripts路径下的js文件进行了一些命名规则的约定，如下所示：
    pre.layui-code(lay-title="Javascript", lay-skin="notepad")
      | [是否被应用].[时间钩子].[合并文件时的优先级].[文件名].[是否为压缩文件].js 
    ul.items
      li.item
        header.item-header onHeadReady、onDocumentReady、onMediaReady、onLazyReady
        ul.details
          li.detail 在html的head里，一般我们会通过link标签来引入外部的css样式文件，一些对页面样式和dom的潜在影响比较大的js文件我们也会尽量在head里就进行引入。最常见的就是html5shiv.js和respond.js文件了，如果是移动端项目并且使用rem单位来进行响应式涉及的话，对应的调整html fontsize属性的js代码也应当放到head里就进行加载，否则容易出现页面刚显示时文字很大，然后突然变小到正常大小的问题。这些需要在页面head中就进行加载的脚本和样式文件，直接在head里添加script、link这些标签来引用相关资源即可。
          li.detail 但是如果该js文件是存放在src/scripts/libs路径下的，将文件名按如下规则重命名即可。
          prev
            | html5shiv.min.before

      li.item
        header.item-header 
        ul.details
          li.detail test

      li.item
        header.item-header （不常用）
        ul.details
          li.detail test

      li.item
        header.item-header 
        ul.details
          li.detail test