@import '../tools/utils';

.site-menu {
  background-color: #585858;
  background-image: linear-gradient(to bottom, #585858, #3d3d3d);
  font-size: 0;
  .item {
    @include verticalAlign();
    &.active {
      .link {
        background-color: #343434;
      }
    }
  }
  .link {
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    color: #fff;
    padding: 0 15px;
    font-size: 13px;
    text-transform: capitalize;
    transition: 300ms all linear 0ms;
    @include borderLeft(#888);
    @include cursor();
    &:hover {
      background-color: #808080;
      background-image: linear-gradient(to bottom, #808080, #363636);
    }
  }
  .external-link {
    position: absolute;
    top: 3px;
    right: 3px;
  }
}
