@import '../tools/utils';

html {
  height: 100%;
}
body {
  background-color: $bg-color;
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
}
.hidden {
  display: none;
}
.site-wrapper {
  @include customWidth();
  margin: 0 auto;
}
.site-content {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
}
