@import '../tools/utils';

body {
  background-color: $bg-color;
  padding: 20px 0;
  color: #333;
  line-height: 1;
}
.hidden {
  display: none;
}
.site-wrapper {
  @include customWidth();
  margin: 0 auto;
}
.site-content {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
}
