body {
  margin: 0;
  line-height: 1;
  color: #333;
  font-family: "华文细黑", "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 17px;
}
h3 {
  font-size: 16px;
}
h3 {
  font-size: 15px;
}
h3 {
  font-size: 14px;
}
h3 {
  font-size: 13px;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: #333;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
input, select, button {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  font-size: inherit;
  max-width: 100%;
  line-height: normal;
}
:focus {
  outline: none;
}
input:focus, select:focus {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}
th {
  font-weight: normal;
  text-align: left;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 1) inset;
}
