mixin mixinMenu(activeMenuAlias)
  - var menuHome = { alias: 'home', text: '首页', url: './index.html' }
  - var menuHooks = { alias: 'scripts', text: 'scripts目录', url: './scripts.html' }
  - var menuPractices = { alias: 'practices', text: '优良实践', url: './practices.html' }
  - var menuCodeStyle = { alias: 'code-style', text: '代码风格', url: './code-style.html' }
  - var menuUI = { alias: 'ui', text: 'UI库', url: './ui.html' }
  - var menuPlugins = { alias: 'plugins', text: 'JS插件', url: './plugins.html' }
  - var menuGuestbook = { alias: 'guestbook', text: '讨论版', url: 'https://github.com/Yakima-Teng/djax/issues' }
  - var menus = [menuHome, menuHooks, menuPractices, menuCodeStyle, menuUI, menuPlugins, menuGuestbook]
  link(rel="stylesheet", href="../../../../styles/components/mixin-menu/component.min.css") 
  nav.site-menu
    ul.items
      each menu in menus
        li.item(class = menu.alias === activeMenuAlias ? "active" : "")
            a.link(href= menu.url, target= menu.url.indexOf('http') === 0 ? '_blank' : '_self')= menu.text
              if menu.url.indexOf('http') === 0
                i.fa.fa-external-link.external-link