mixin mixinHeader(activeMenuAlias)
  link(rel="stylesheet", href="./styles/components/mixin-header/component.min.css" + versionQuery)
  //- Fixed navbar
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="./index.html") Djax - 开箱即用的多页应用脚手架
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li(class = activeMenuAlias === 'menu1' ? 'active' : '')
            a(href="./htmls/pages/menus/page1/page.html") 菜单1
          li(class = activeMenuAlias === 'menu2' ? 'active' : '')
            a(href="./htmls/pages/menus/page2/page.html") 菜单2
          li(class = activeMenuAlias === 'menu3' ? 'active' : '')
            a(href="./htmls/pages/menus/page3/page.html") 菜单3
          li
            a(href="https://github.com/Yakima-Teng/djax", target="_blank") Github
