@import '../../../../styles/tools/utils';

.page-code-style {
  .lines {
    position: relative;
    padding-left: 0;
    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 120px;
      top: 0;
      height: 100%;
      border-left: 8px solid #eee9dc;
      transform: translate(-50%, 0);
    }
  }
  .line {
    position: relative;
    z-index: 1;
    font-size: 0;
    margin: 20px 0;
    &:nth-of-type(1) {
      .line-circle {
        background-color: #f98262;
      }
    }
  }
  .line-title {
    @include verticalAlign(middle);
    font-size: 14px;
    color: #666;
    width: 110px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: right;
  }
  .line-circle {
    @include verticalAlign(middle);
    background-color: $bg-color;
    width: 10px;
    height: 10px;
    border: 5px solid $border-color;
    border-radius: 50%;
    box-sizing: content-box;
  }
  .line-desc {
    @include verticalAlign(middle);
    width: 100%;
    box-sizing: border-box;
    padding-left: 180px;
    margin-left: -130px;
    .inner {
      position: relative;
      padding: 10px;
      border: 1px solid darken($border-color, 30%);
      border-radius: 6px;
      font-size: 14px;
      line-height: 1.5;
      color: #999;
      min-height: 40px;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 16px solid transparent;
        border-right-color: inherit;
        pointer-events: none;
        top: 50%;
        right: 100%;
        margin-top: -16px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-right-color: #fff;
        pointer-events: none;
        top: 50%;
        right: 100%;
        margin-top: -15px;
      }
    }
    .p {
      font-size: 14px;
      line-height: 1.8;
      color: #999;
      margin: 5px 0;
    }
  }
}
