extends ../templates/template-post.pug

include ../components/mixin-head.pug
include ../components/mixin-menu.pug

block site-head
  -var title = 'About'
  -var desc = '滕运锋,英文名Yakima Teng,2013年毕业于沈阳药科大学·药学(食品药学方向)专业。博客主要记录了一些生活琐碎、思考感悟,以及药学和IT方面的一些技术文章。'
  +mixinHead(title, desc)
  link(rel="stylesheet", href="../../styles/pages/about.min.css")

block site-menu
  +mixinMenu('about')

block site-foot
  script(src="../../scripts/pages/about.min.js")

block site-content
  .page-about
    //- pug只支持单行js，所以items数组要这样拆开，不然那么多内容放在一行里不好看
    -var y91 = { title: '1991', desc: '出生于上海——在爸妈租的房子里，那时家里经济状态不好，我是父亲自己接生的，不是去医院接生的。' }
    -var y92_96 = { title: '1992-1996', desc: '小时候有一次被陌生人带走了，邻居看到我被带走时以为是我们家的亲戚没多说，我记忆里有看到过铁轨的画面，但父母说不可能被拐到那么远的地方的，扯淡的派出所要失踪24小时才能报警，父母自己找到我时我是一个人，而且离家就几公里的距离，也许是陌生人良心发现了。' }
    -var y97 = { title: '1997', desc: '本打算让我念小学，但母亲发现教我写汉字“一”时我都写不好，取消了。' }
    -var y98_03 = { title: '1998-2003', desc: '八岁开始念书，念的上海的民办小学，同学大部分都是安徽人，小学五年里换了5次学校。准备念六年级前的暑假（2013年暑假）回到老家（温州市永嘉县），当时农村还是五年制，父母让我读五年级，待父母回上海后，因为不想“留级”参加了初中升学考试，数学考试的时候试卷里涉及到圆的题目基本都不会，考完背上都是冷汗，所幸最后进了重点班。这是我自己做的第一个重大抉择。' }
    -var y04_06 = { title: '2004-2006', desc: '初一成绩比较渣。初二开始成绩遥遥领先第二名，最辉煌时总分比隔壁重点班各科单科最高分总和低了2分。后面觉得学习没意思，成绩萎靡不振，好在初三提前考之前的时候稍微情况稍微好了点，重新拿回第一，但已经没有遥遥领先了，学校那年分到了三个提前考名额，最后只有我成功保送了，后面听班主任跟我说，考试前所有老师都认为我们三个去考试的是去打酱油的，只有数学老师认为我能考进去（浙江省永嘉中学，县里最好的高中的理科实验班），很感谢他，比我自己还相信我自己的，估计除了数学老师就是我爸爸了，这种感觉真的很好。' }
    -var y07_09 = { title: '2007-2009', desc: '高二最佳战绩年级段17名，不知道为什么我读书比较辉煌的时候都是初二高二而不是初三高三这个时间点。高三时暗恋一个女生，高考时脑子都是她的笑脸，突发性脊柱侧弯，从浙江省永嘉中学毕业，高考不理想（估计年级段小200名），进入沈阳药科大学就读药学（食品药学方向）专业。' }
    -var y10 = { title: '2010', desc: '平淡无奇。' }
    -var y11 = { title: '2011', desc: '从淘宝入手了第一台kindle（K5），开始了看书的习惯。' }
    -var y12 = { title: '2012', desc: '下半年慢慢从脊柱侧弯带来的自卑里走出来，不过比较可惜的是已经大四了，大学已经接近尾声了，感觉大学被我浪费掉了。' }
    -var y13 = { title: '2013', desc: '从沈阳药科大学毕业（毕业汇演时客串了一段耍1.9米长棍的画面），进入浙江仙居君业药业有限公司从事QA工作，入职三个月面临转正时思考再三提了离职，十月份入职浙江普洛康裕制药有限公司国际药品注册部门。初到新地方，因为不是七月份应届生入职的时间，没有什么朋友，感觉比较孤独，慢慢去认识了一些朋友。' }
    -var y14 = { title: '2014', desc: '开始常规性去公司租的羽毛球场打羽毛球。十月应邀去深圳大学室友那里玩，经朋友提醒，从一张小梅沙那拍的裸照里发现自己不知道什么时候有了腹肌，同月普洛篮球赛酱油了一个团体第二，同月普洛康裕沈药校友聚会。十一月普洛期排球赛团体第一，同月与几个同事一起参加了一个夜跑活动。' }
    -var y15 = { title: '2015', desc: '四月份大学室友西湖小聚，同月普洛羽毛球赛团体第二。五一约同事花了一天徒步一百里路（同事半路回去了）。13年毕业到15年6月存了1.3万，然后6月份捐款给一个病危校友捐掉了一万（人最后还是走了），所以没有存款。七月初从浙江普洛康裕制药有限公司离职，同月豆瓣读书上标记已读的书达到了100本，在公司附近（横店镇）租房自学前端相关内容，三个月后生了一场病休息了一个月，然后去上海找了个外包公司呆了一个月，最后于年末进入北京无线天利有限公司上海分公司，月薪4.5k。' }
    -var y16 = { title: '2016', desc: '上半年领导帮忙向北京总部申请加薪，被总部以入职不到一年为由否决。将近年末提了离职，公司答应年后提薪至10k。这一年一直是拿的4.5k的死工资。至年末仍无存款-_-。' }
    -var y17 = { title: '2017', desc: '开始相亲（无果）。农历年过后薪资第一次进入10k行列，第一次工资到账时很高兴。开始接一些私活。入手了RMBP。遇到一个小不点，剧情短暂略狗血，突觉得自己经济能力很弱不懂感情不适合成家。九月份提离职，后领导答应提薪至15k。同时副业收入渐渐逼近主业收入。该年度（农历年）实现存款小廿万。' }
    -var items = [ y17, y16, y15, y14, y13, y12, y11, y10, y07_09, y04_06, y98_03, y97, y92_96, y91]
    h2.page-title About me
    article.page-article
      ul.lines
        each item in items
          li.line
            span.line-title= item.title
            span.line-circle
            .line-desc
              .inner= item.desc

