extends ../templates/template-post.pug

include ../components/mixin-head.pug
include ../components/mixin-menu.pug

block site-head
  -var title = 'Articles'
  -var desc = '滕运锋,英文名Yakima Teng,2013年毕业于沈阳药科大学·药学(食品药学方向)专业。博客主要记录了一些生活琐碎、思考感悟,以及药学和IT方面的一些技术文章。'
  +mixinHead(title, desc)
  link(rel="stylesheet", href="../../styles/pages/articles.min.css")

block site-menu
  +mixinMenu('articles')

block site-foot
  script(src="../../scripts/pages/articles.min.js")

block site-content
  .page-articles
    section.part
      header.part-title 综合
      article.part-content
        a.item(href="")
          span.text 时间管理
          i.fa.fa-external-link.external-link

    section.part
      header.part-title 编程
      article.part-content
        a.item(href="")
          span.text js作用域和闭包
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text js创建对象的几种方式
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text 常见的算法（快速排序，二叉树等，以js代码举例）
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text 从用户在地址栏上输入url到看到最终页面。。。
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text sql常用案例和易错点
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text MyBaits使用简介
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text Spring MVC简介
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text 构建一个Node服务
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text Centos7服务器配置（集成java、node、php、mysql、nginx）
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text Nginx配置
          i.fa.fa-external-link.external-link
        a.item(href="")
          span.text Apache配置
          i.fa.fa-external-link.external-link