extends ../templates/template-post.pug

include ../components/mixin-head.pug
include ../components/mixin-menu.pug

block site-head
  -var title = '时间钩子'
  -var desc = 'Djax: DOM & AJAX，简单、自由的前端开发套件'
  +mixinHead(title, desc)
  link(rel="stylesheet", href="../../styles/pages/hooks.min.css")

block site-menu
  +mixinMenu('hooks')

block site-foot
  script(src="../../scripts/pages/hooks.min.js")

block site-content
  .page-hooks
    header.main-profile 有些js、css文件我们需要尽早加载，有些则是要等dom渲染完毕后加载，还有些则可以更迟一点用js生成script标签进行延迟加载，为了方便这些情况的处理，我们引入了“时间钩子”这样的概念。目前提供的时间钩子有：onHeadReady、onDocumentReady、onMediaReady（不常用）和onLazyReady。
    ul.items
      li.item
        header.item-header onHeadReady
        ul.details
          li.detail test

      li.item
        header.item-header onDocumentReady
        ul.details
          li.detail test

      li.item
        header.item-header onMediaReady（不常用）
        ul.details
          li.detail test

      li.item
        header.item-header onLazyReady
        ul.details
          li.detail test