extends ../../../templates/post/template.pug

include ../../../components/mixin-head/component.pug
include ../../../components/mixin-header/component.pug

block site-head
  -var title = 'assets目录'
  -var desc = ''
  +mixinHead(title, desc)
  link(rel="stylesheet", href="./page.min.css")

block site-header
  +mixinHeader('structure-assets')

block site-foot
  script(src="./page.min.js")

block site-content
  .container
    .jumbotron
      h1 assets目录
      p
      p 在assets目录下有的所有文件都会在编译后被原封不动地拷贝到dist/assets路径下。
      p
