extends ../../../templates/post/template.pug

include ../../../components/mixin-head/component.pug
include ../../../components/mixin-header/component.pug

block site-head
  -var title = '开始'
  -var desc = ''
  +mixinHead(title, desc)
  link(rel="stylesheet", href="./page.min.css")

block site-header
  +mixinHeader('start')

block site-foot
  script(src="./page.min.js")

block site-content
  .container.page-start
    .row
      .col-md-10.col-md-push-1
        h1 入门指南
        h4 1. 下载项目代码
        pre
          code.language-sh
            | $ git clone https://github.com/Yakima-Teng/djax.git
        h4 2. 安装依赖
        pre
          code.language-sh
            | # 进入项目根目录
            | $ cd djax
            | # 安装项目依赖
            | $ npm install
        h4 3. 启动本地开发环境，开始你的表演
        pre
          code.language-js
            | $ npm run dev
        h4 4. 发布（可选）
        p 如果你有sftp（SSH）账号并且需要支持命令行直接发布文件到服务器上，修改项目根目录下的<code>config-example.js</code>文件，然后重命名为<code>config.js</code>。此后，需要将dist目录下的文件发布到服务器上时只需要一个<code>npm run deploy</code>命令即可。
