@import '../tools/utils';

$em: 14px;

.page-articles {
  .part {
    &:nth-of-type(n+2) {
      margin-top: 20px;
    }
  }
  .part-title {
    font-size: 14px;
    line-height: 2;
    color: $bg-color;
    border-bottom: 1px olid $bg-color;
  }
  .part-content {
    padding: 6px $em;
  }
  .item {
    display: block;
    padding: 6px $em;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: 300ms all linear 0ms;
    font-size: 0;
    line-height: 20px;
    text-align: justify;
    &:nth-of-type(2n) {
      background-color: rgba(80, 160, 240, .3);
    }
    &:hover {
      border-top-color: #999;
      border-bottom-color: #999;
      padding-left: 4 * $em;
    }
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    font-size: $em;
    color: #333;
  }
  .external-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    font-size: $em;
    line-height: 1;
    margin-top: 3px;
  }
}
