@import '../tools/utils';

.page-home {
  @include clearfix();
  .box {
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 6px;
    &:nth-of-type(n+2) {
      margin-top: 20px;
    }
  }
  .title {
    font-size: 16px;
    color: #333;
    line-height: 2;
    text-align: center;
  }
  .article {
    font-size: 14px;
    color: #666;
    line-height: 2;
    text-align: right;
  }
  .p {
    font-size: 14px;
    color: #666;
    line-height: 1.8;
    margin: 15px 0;
    text-align: justify;
  }
  .items {
    padding: 0 20px;
    @include clearfix();
  }
  .item {
    float: left;
    width: 50%;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin: 10px 0;
    text-align: justify;
    &:before {
      content: '* ';
    }
  }
}
