link(rel="stylesheet", href="../../styles/components/footer.min.css")
script(src="../../scripts/libs/libs-after.min.js")
script(src="../../assets/layui/layui.js")
script(src="../../assets/swiper/js/swiper.min.js")
script(src="../../scripts/common/common.min.js")
