link(rel="stylesheet", href="../../styles/components/header.min.css")
header.site-header
  img.logo(src="../../assets/images/site-head.png", alt="logo")
  article.title
    h1.title-main Yakima Teng | 滕运锋
    h2.title-sub Your time is limited, so do not waste it living someone else's life.
  aside.aside
    a.btn-star(href="https://github.com/Yakima-Teng/home")
      svg.icon-star(aria-hidden="true", height="16", version="1.1", viewBox="0 0 14 16", width="14")
        path(fill-rule="evenodd", d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74z")
      span.text Star
