link(rel="stylesheet", href= "./styles/components/footer/component.min.css" + store.versionQuery)

script(src= "./scripts/libs/libs-ondocumentready.min.js" + store.versionQuery)
script(src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src= "./scripts/utils/utils.min.js" + store.versionQuery)
script(src= "./scripts/common/common.min.js" + store.versionQuery)
