link(rel="stylesheet", href= "./styles/components/footer/component.min.css")

script(src= "./scripts/libs/libs-ondocumentready.min.js")
script(src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src= "./scripts/utils/utils.min.js")
script(src= "./scripts/common/common.min.js")
