link(rel="stylesheet", href= "../../../../styles/components/footer/component.min.css")

script(src= "../../../../scripts/libs/libs-ondocumentready.min.js")
script(src="../../../../assets/bootstrap-3.3.7-dist/js/bootstrap.min.js")
script(src= "../../../../assets/swiper/js/swiper.min.js")
script(src= "../../../../scripts/utils/utils.min.js")
script(src= "../../../../scripts/common/common.min.js")
