link(rel="stylesheet", href= "../../../../styles/components/footer/component.min.css")

script(src= "../../../../assets/layui/layui.js")
script(src= "../../../../assets/swiper/js/swiper.min.js")
script(src= "../../../../scripts/libs/libs-ondocumentready.min.js")
script(src= "../../../../scripts/utils/utils.min.js")
