doctype html
html(lang="zh-CN")
  block site-head
  body
    div.site-wrapper
      include ../components/header.pug
      block site-menu
      div.site-content
        block site-content
      include ../components/footer.pug
      block site-foot