extends ../../../templates/post/template.pug

include ../../../components/mixin-head/component.pug
include ../../../components/mixin-header/component.pug

block site-head
  -var title = 'styles目录'
  -var desc = ''
  +mixinHead(title, desc)
  link(rel="stylesheet", href="./page.min.css")

block site-header
  +mixinHeader('structure-styles')

block site-foot
  script(src="./page.min.js")

block site-content
  .container
    .jumbotron
      h1 styles目录
      p
      p 在styles目录下有global和tools两个子目录，本文将分别解释这两个目录的作用。
      p

  .container
    .panel.panel-default
      .panel-heading global目录
      .panel-body
        p src/styles/global目录里存放的是一些会被全局用到的样式。下面是一些具体说明和注意事项：
      ul.list-group
        li.list-group-item 1、global目录下的reset.scss、global.scss和fix.scss文件会在编译后合并成一个dist/styles/global/global.min.css文件。
        li.list-group-item 2、reset.scss是优先被合并的文件，其次是global.scss，再然后是global.scss。
        li.list-group-item 3、reset.scss是样式重置文件。
        li.list-group-item 4、global.scss是用户自定义的全局样式。
        li.list-group-item 5、fix.scss是用于对第三方样式文件进行调整的补丁样式。

    .panel.panel-default
      .panel-heading tools目录
      .panel-body
        p src/styles/tools目录下存放的是工具类、常量类sass文件，本身不会被编译成对应的css文件，仅供其他sass文件内使用。
