@import '../../../../styles/tools/utils';

.page-home {
  .jumbotron {
    text-align: center;
  }
  h2 {
    font-weight: normal;
    font-size: 20px;
  }
  .btn-default {
    transition: 300ms all linear 0ms;
  }
}
